PORT=5000
MONGO_URI=mongodb+srv://ornacdb:ornac1234@ornac.pwithpb.mongodb.net/ornac
JWT_SECRET=Ornaq@SecureKey_!2026 
JWT_EXPIRES_IN=7d
CLIENT_URL=https://ornaq-frontend.vercel.app,http://localhost:5173
CLOUDINARY_CLOUD_NAME=dx6v9u7ff
CLOUDINARY_API_KEY=739254274579788
CLOUDINARY_API_SECRET=b0kpbTJaQws9GsWzA0CEv9gUedg
STRIPE_SECRET_KEY=sk_live_or_test
RAZORPAY_KEY_ID=rzp_live_or_test
RAZORPAY_KEY_SECRET=your_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret
STRIPE_WEBHOOK_SECRET=whsec_xxx
ADMIN_NAME=Ornac Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=StrongPassword123
ADMIN_PHONE=9999999999
